body{
background-color: #212121;
color: Yellow;



}/* Navbar */
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding: 10px ;
    color: white;
    margin:0PX;
}

#navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

#navbar .search-bar {
    display: flex;
    align-items: center;
  color:yellow;
  
}

#navbar .search {
    padding: 8px;
    width: 250px;
  background-color:yellow;
}

.navbar .search-bar i {
    margin-left: 10px;
    color: yellow;
}

.navbar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.change-pic {
    background-color: orangered;
    color: #3b5998;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Post and Feed */
.post button, .react-btn, .comment-btn {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #3b5998;
  margin-left:;
    color: white;
    display: flex;
    align-items: center;
}

.post button i, .react-btn i, .comment-btn i {
    margin-right: 5px;
}

/* Comments */
.comment {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.comment i {
    margin-right: 5px;
}
.content{
  margin-left:300px;
  height: 80px;
  width:100%;
  margin-bottom: 200px;
}

.left-side{

width: 25%;
height: 92vh;
overflow: hidden;
overflow-y: scroll;
background: white;
padding: 20px 6px 5px 10px;
position: fixed;
}

.left-side h2{
font-size: 18px;
color: black;
margin:5px 0;
}

